.home {
  background-color: #FFF491;
 
  .home__title {
    text-align: center;
    font-size: 48px;
  }
 
  .home__subtitle {
    text-align: center;
    font-size: 36px;
  }
 
  .home__description {
    text-align : center;
    font-size: 13px;
  }
 
  .h3 {
    font-size: 24px;
  }
 
  .home__instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
 .instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
   
  }
 }
 