@keyframes moves2 {
   

    to {
        transform: translate(1200px,290px);
    }
}

@keyframes moves {
   
    to {
        transform: translate(700px,50px);
    }

   

}

.game__character {
    width: 20px;
    height: 20px;
    background-color: yellow;
    transform: translate(640px, 700px);
}

.game__enemy {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    transform: translate(450px, 50px);
    animation: moves 2s infinite alternate linear;
     
}

.ennemy2{
    animation: moves2 2s infinite alternate linear;
    transform: translate(888px, 290px)
}


.game__obstacle {
    width: 75px;
    height: 220px;
    background-color: blue;
    position: absolute;
}


.game__finishline {
    width: 200px;
    height: 20px;
    background-color:yellow; 
    position: absolute;
    transform: translate(220px, 90px);
}

.game__yellowjacket {
    width: 10px;
    height: 10px;
    background-color: aqua;
    transform: translate(190px, 600px);
}

.game__score {
    color : black;
    font-size: 100px;
}

.invisible {
    opacity: 0;
}

.game__cap {
    width: 10px;
    height: 10px;
    background-color: violet;
    transform: translate(655px, 420px);
}
.game__barriere {
    width: 200px;
    height: 20px;
    background-color:black; 
    position: absolute;
}
.game__tank {
    width : 200px;
    height: 200px;
    background-color: green;
    transform: translate(70px, 200px);
    position: absolute;


    @keyframes show-and-hide {
        from {
            width: 20px;
            height: 30px;
            background-color: aqua;
            transform: translate(190px, 20px); 
        }
      
        to {
            width: 200px;
            height: 30px;
            background-color: aqua;
            transform: translate(190px, 20px); 
        }
      }

     .water {
        animation: show-and-hide 2s infinite alternate;
    }
}

.game__smoke {
    width: 200px;
    height: 200px;
    transform: translate(900px, 200px);
    position: absolute;
  
 
   
 
 
 @keyframes smoke {
    0% {
        background-color: transparent;
    }
     50%{
        background-color: transparent;
    }
    100% {
        background-color: grey;
    }
  }

  animation: smoke 3s infinite alternate;
    }


